name: Deploy to S3 and Amplify

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Sync files to S3
        run: |
          aws s3 sync . s3://soliddev.nl --delete --exclude ".git/*" --exclude ".github/*"
        working-directory: ${{ github.workspace }}

      - name: Invalidate Amplify cache (optional)
        run: |
          aws amplify start-deployment --app-id AMPLIFY_APP_ID --branch-name staging --source-url s3://soliddev.nl --source-url-type BUCKET_PREFIX
        with:
          aws-access-key-id: ${{ secrets.AMPLIFY_APP_ID }}
          aws-secret-access-key: ${{ secrets.AMPLIFY_SECRET_ACCESS_KEY }}
